<h1 class="text-red-500 text-3xl">Zepto Theme</h1>
<h3 class="text-blue-600 text-2xl" x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h3>

{% schema %}
{
  "name": "Main index",
  "settings": [],
  "presets": [
    {
      "name": "Main index"
    }
  ]
}
{% endschema %}
